<nz-card nzTitle="لیست نظرات" [nzExtra]="actionTemplate">
  
  <div nz-row nzJustify="space-between">
    <div nz-col nzSpan="4">
      <nz-select
        nzShowSearch
        (ngModelChange)="changeCommentStatus($event)"
        id="status"
        name="status"
        [ngModelOptions]="{ standalone: true }"
        nzAllowClear
        nzPlaceHolder="وضعیت"
        [(ngModel)]="options.status"
      >
        <nz-option
          *ngFor="let commentStatus of commentStatusList"
          [nzLabel]="commentStatus | commentStatus"
          [nzValue]="commentStatus"
        >
        </nz-option>
      </nz-select>
    </div>
  </div>
  
  <div nz-row class="pk-top-table-row">

    <div nz-col nzFlex="auto">
      <nz-pagination
      nzShowSizeChanger
      [(nzPageIndex)]="options.pageNumber"
      [nzTotal]="total"
      [nzPageSize]="options.recordPerPage"
      [nzPageIndex]="options.pageNumber"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
    ></nz-pagination>
    </div>

  </div>
  <div nz-row class="pk-table-row">
    <div nz-col nzFlex="auto">
      

      <nz-table
      #rowSelectionTable
      [nzShowPagination]="false"
      [nzFrontPagination]="false"
      [nzData]="listOfData"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzLoading]="isLoading"
    >
      <thead>
        <tr>
          <th
            [nzSelections]="listOfSelection"
            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>وضعیت</th>
          <th>متن</th>
          <!-- <th [nzAlign]="'left'">وضعیت</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data" 
        [ngClass]="{'tbl-deleting': isRowDeleting(data)}"
        class="d-relative"
        [attr.disabled]="isRowDeleting(data)">
          <td
            [nzChecked]="setOfCheckedId.has(data.id)"
            (nzCheckedChange)="onItemChecked(data.id, $event)"
          >
        </td>
          <td>
            <a routerLink="/cpanel/comment/{{ data.id }}">
              {{ data.status }}
            </a>
          </td>
          <td>
              {{ data.content }}
            </td>
          <!-- <td [nzAlign]="'left'">
            <nz-switch
              [nzControl]="true" 
              (click)="toggleEnabled(data)" 
              [nzLoading]="toggleEnabledLoading(data)"
              [ngModel]="data.enabled"
              [nzCheckedChildren]="checkedTemplate"
              [nzUnCheckedChildren]="unCheckedTemplate"
            ></nz-switch>
            <ng-template #checkedTemplate
              ><i nz-icon nzType="check"></i
            ></ng-template>
            <ng-template #unCheckedTemplate
              ><i nz-icon nzType="close"></i
            ></ng-template>
          </td> -->
        </tr>
      </tbody>
    </nz-table>

    </div>
  </div>

  <div nz-row class="pk-bottom-table-row">
    <div nz-col nzFlex="auto">
      <nz-pagination
      nzShowSizeChanger
      [(nzPageIndex)]="options.pageNumber"
      [nzTotal]="total"
      [nzPageSize]="options.recordPerPage"
      [nzPageIndex]="options.pageNumber"
      (nzPageIndexChange)="pageIndexChange($event)"
      (nzPageSizeChange)="pageSizeChange($event)"
    ></nz-pagination>
    </div>
  </div>
 
</nz-card>
<ng-template #actionTemplate>
  
  <button nz-button nzType="primary" routerLink="/cpanel/comment/add">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    جدید
  </button>

  <button nz-button nzType="primary" nzDanger
  [disabled]="tableDeleteRowDisabled()"
   [nzLoading]="deleteInProgress"
   (click)="delete()">
    <i nz-icon nzType="delete" nzTheme="outline"></i>
    حذف
  </button>
  
</ng-template>