<button nz-button nzType="primary" (click)="login('Staff')">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    Staff
</button>

<button nz-button nzType="primary" (click)="login('Buyer')">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    Buyer
</button>

<button nz-button nzType="primary" (click)="login('Seller')">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    Seller
</button>

<button nz-button nzType="primary" (click)="login('Moderator')">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    Moderator
</button>

<br>

<button nz-button nzType="primary" (click)="createFakeUser()">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
    Create Users
</button>
